<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>SampleApp</title>
=======
    <title>HelloWorld</title>
>>>>>>> fea79a16629de1290d9058f07d792a9809124d2c
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
    
=======
>>>>>>> fea79a16629de1290d9058f07d792a9809124d2c
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |message_type,message| %> 
        <div class="alert alert-<%= message_type%>"><%= message%>
      <% end %>
      
      <%= yield %>
    </div>
    
=======
    <%= yield %>
  </body>
>>>>>>> fea79a16629de1290d9058f07d792a9809124d2c
</html>
